---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
---

<Layout title="SharePeer | Error">
    <section class="bg-transparent">
        <div
            class="mt-32 grid max-w-screen-2xl px-4 py-8 mx-auto gap-8 lg:py-16 lg:grid-cols-1"
        >
            <div class="mb-8">
                <h1
                    class="text-white text-center mb-1 text-4xl font-extrabold md:text-5xl xl:text-6xl"
                >
                    I'm lost, help plz [404]
                </h1>
            </div>
            <div class="flex justify-center">
                <img
                    src="/404-banner.jpg"
                    alt="404 Banner"
                />
            </div>
        </div>
    </section>
</Layout>
