---

---

<section class="bg-transparent text-center flex justify-center flex-col">
    <h1 class="text-white font-semibold text-6xl">Privacy</h1>

    <p class="mx-auto w-10/12 text-white mt-7 text-left text-xl">
        Morbi sem nisi, posuere eu lacinia a, ullamcorper eu purus. Sed vel nibh
        ipsum. Quisque vitae ex nec odio mattis consectetur. Praesent sed tellus
        sagittis, pharetra mauris ut, finibus arcu. Fusce suscipit laoreet nisi,
        vitae mollis augue elementum at. Vivamus at tristique nisl. Fusce
        venenatis accumsan aliquam. Praesent nec ornare massa. Aenean aliquam
        luctus hendrerit. Morbi vel scelerisque erat. Vestibulum vel viverra
        sem, eget interdum est. Nulla et erat at massa vehicula fringilla.
        Quisque et leo quam. Integer condimentum imperdiet magna, ac mollis
        mauris viverra a. Fusce quis arcu non diam rutrum tincidunt in sit amet
        urna.
    </p>

    <p class="mx-auto w-10/12 text-white text-left text-xl mt-7">
        Donec ullamcorper mauris magna, quis posuere nulla ornare non. Donec
        viverra eu ante vitae tempor. Curabitur tempor accumsan fringilla. Nunc
        eleifend maximus sem, eget rhoncus sem consectetur id. Vestibulum sed
        condimentum quam. Fusce augue nisi, sagittis eget metus et, congue
        molestie odio. Pellentesque commodo tincidunt tellus at ultricies. Proin
        sem enim, efficitur in porta a, lacinia at dui. Vestibulum finibus neque
        id leo rutrum laoreet.
    </p>
    <img
        class="text-center w-2/6 h-auto mx-auto my-5"
        src="/privacy-banner.jpg"
    />
    <p class="mx-auto w-10/12 text-white mt-7 text-left text-xl">
        Aliquam ac luctus enim, at consequat elit. Nulla lacinia nunc odio, quis
        posuere libero sollicitudin laoreet. Ut mi elit, ultricies in nisi eu,
        semper imperdiet ligula. Morbi sed dolor malesuada eros vehicula
        pellentesque. Morbi luctus gravida dui, vel rhoncus turpis mattis in.
        Pellentesque libero augue, pellentesque vel quam a, feugiat tincidunt
        arcu. Praesent libero metus, tempus at sem sit amet, fermentum blandit
        augue.
    </p>
    <p class="mx-auto w-10/12 text-white mt-7 text-left text-xl">
        Fusce maximus hendrerit viverra. Sed sit amet finibus lectus. Nam
        iaculis elit non ex luctus tempus. Maecenas ullamcorper porttitor
        sagittis. Nam semper augue mi, et dictum sem interdum et. Nam feugiat,
        dolor eu mattis venenatis, elit eros malesuada quam, a auctor dui purus
        scelerisque lectus. Pellentesque eu nunc mollis odio porttitor
        scelerisque vel quis tortor. Cras orci tellus, ornare id posuere quis,
        efficitur bibendum ante. Vivamus vitae dui vel est vestibulum
        vestibulum. Orci varius natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus. Fusce mollis ullamcorper eleifend.
        Integer id rhoncus velit. Nunc congue egestas mi, non gravida dui
        pretium sed.
    </p>
</section>
